- className = function(str) { return str.replace(/\W+/g, '-') }

doctype html
html
    head
        meta(charset="utf-8")
        title= title + " | " + site.title
        link(rel='stylesheet', href='style/main.css')
    
    body.data-page(class=className('data-page-'+title))
        .background
        header
            .container.pure-menu.pure-menu-horizontal
                ul.pure-menu-list
                    li.pure-menu-item
                        a.logo.pure-menu-link.pure-menu-heading(href=".")
                            img(src="style/magic-lab-logo.svg" width="160px" alt="The Magic Lab")
                    li.pure-menu-item
                        a.pure-menu-link(href="news-items.html#start") News
                    li.pure-menu-item
                        a.pure-menu-link(href="people.html#start") People
                    li.pure-menu-item
                        a.pure-menu-link(href="research-projects.html#start") Research
                    li.pure-menu-item
                        a.pure-menu-link(href="engagement.html#start") Engagement
                    li.pure-menu-item
                        a.pure-menu-link(href="join-us.html#start") Join Us

        main
            .container
                .splat
                a#start
                h1 Innovation and Enterprise Research Laboratory
                h2= title
                - sections = _.groupBy(rows, 'section')
                each sectionRows, section in sections
                    section.data-section(class=className('data-section-'+section))
                        if (section && section != 'undefined')
                            h3= section
                        each row in sectionRows
                            div.data-item
                                each col in Object.keys(row)
                                    - data = row[col]
                                    if (col[0] != '_' && col != 'id' && col != 'section' && data)
                                        .data-field(class=className('data-field-'+col))
                                            if (col == 'name' && row['link'])
                                                a(href=row['link'])= data
                                                - delete row['link']
                                            else if (col == 'link')
                                                a(href=data)= data
                                            else if (col == 'photo' && data != '')
                                                a(href='assets/'+data)
                                                    img(src='assets/t/'+data)
                                            else
                                                != marked(row[col])

            != contents

        footer
            .container
                .splat
                .pure-g
                    .pure-u-1-2
                        h4 Contact
                        p Professor Mary-Anne Williams
                        p Innovation and Enterprise Research Laboratory <br/> (&ldquo;Magic Lab&rdquo;)
                        p
                        | Building 11, Level 7, Room 400 <br/>
                        | 81 Broadway <br/>
                        | Ultimo NSW 2007 <br/>
                        | Australia

                    .pure-u-1-2
                        h4 Affiliation
                        p Proudly part of the Centre for Quantum Computation &amp; Intelligent Systems
                        p Faculty of Engineering and Information Technology
                        p University of Technology, Sydney
                        p CRICOS Provider Number: 00099F
