- className = function(str) { return str.replace(/\W+/g, '-') }

doctype html
html
    head
        meta(charset="utf-8")
        title= title + " | " + site.title
        link(rel='stylesheet', href='style/main.css')
    
    body.data-page(class=className('data-page-'+title))
        .background
        header
            .container.pure-menu.pure-menu-horizontal
                ul.pure-menu-list
                    li.pure-menu-item
                        a.logo.pure-menu-link.pure-menu-heading(href=".")
                            img(src="style/magic-lab-logo.svg" width="160px" alt="The Magic Lab")
                    li.pure-menu-item
                        a.pure-menu-link(href="news-items.html") News
                    li.pure-menu-item
                        a.pure-menu-link(href="people.html") People
                    li.pure-menu-item
                        a.pure-menu-link(href="research-projects.html") Research
                    li.pure-menu-item
                        a.pure-menu-link(href="leadership.html") Leadership
                    li.pure-menu-item
                        a.pure-menu-link(href="join-us.html") Join Us

        main
            .container
                .splat
                a#start
                h1 Innovation and Enterprise Research Laboratory
                h2= title
                article
                    - sections = _.groupBy(rows, 'section')
                    each sectionRows, section in sections
                        section.data-section(class=className('data-section-'+section))
                            if (section && section != 'undefined')
                                h3
                                    a.section-link(id=className(section))
                                    = section
                            each row in sectionRows
                                div.data-item
                                    each col in Object.keys(row)
                                        - data = row[col]
                                        if (col[0] != '_' && col != 'id' && col != 'section' && data)
                                            .data-field(class=className('data-field-'+col))
                                                if (col == 'name' && row['link'])
                                                    a(href=row['link'])= data
                                                    - delete row['link']
                                                else if (col == 'link')
                                                    a(href=data)= data
                                                else if (col == 'photo' && data != '')
                                                    a(href='assets/'+data)
                                                        img(src='assets/t/'+data)
                                                else
                                                    != marked(row[col])

                    div(style="clear:both;")
            != contents

        footer
            .container
                .splat
                .pure-g
                    .pure-u-1-2
                        h4 Contact
                        p Director: Professor Mary-Anne Williams
                        p Innovation and Enterprise Research Laboratory <br> (The Magic Lab)
                        p
                            a(href="http://j.mp/TheMagicLabUTS") Building 11, Level 7, Room 400 <br/>
                            | 81 Broadway <br/>
                            | Ultimo NSW 2007 <br/>
                            | Australia
                        p eMail: <a href="mailto:Innovation@TheMagicLab.org">Innovation@TheMagicLab.org</a>

                    .pure-u-1-2
                        h4 Affiliation
                        p Proudly part of the Centre for Artificial Intelligence
                        p Faculty of Engineering and Information Technology
                        p University of Technology, Sydney
                        p CRICOS Provider Number: 00099F
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-68090491-1', 'auto');
            ga('send', 'pageview');
