- className = function(str) { return str.replace(/\W+/g, '-') }

doctype html
html
    head
        title= title + " | " + site.title
        link(rel='stylesheet', href='/style/main.css')
    body
        .container
            header
                ul
                    li
                        a(href="/")
                            img(src="logo.png")
                    li
                        a(href="/news-items.html") News
                    li
                        a(href="/people.html") People
                    li
                        a(href="/projects.html") Research
                    li
                        a(href="/invited-speaker-presentations.html") Speakers
                    li
                        a(href="/engagement.html") Join Us

            div(class=className('data-page-'+title))
                h1= title
                - sections = _.groupBy(rows, 'type')
                each sectionRows, type in sections
                    div(class='data-section '+className('data-section-'+type))
                        if (type && type != 'undefined')
                            h4= type
                        each row in sectionRows
                            div.data-item
                                each col in Object.keys(row)
                                    if (col[0] != '_' && col != 'id' && row.hasOwnProperty(col))
                                        span(class='data-field '+className('data-field-'+col))
                                            if (col == 'link')
                                                a(href=row[col])= row[col]
                                            else if (col == 'photo' && row[col] != '')
                                                img(src='/assets/'+row[col])
                                            else
                                                != marked(row[col])

            != contents
